.notifications-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow: scroll;
  position: fixed;
  z-index: 2;
  right: 1.1em;
}

.notifications-container::-webkit-scrollbar {
  display: none;
}

.notifications-container.is-phone-portrait {
  max-width: 15.5em;
  max-height: 29em;
}

.notification-status {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.notification-content {
  display: flex;
  flex-direction: column;
  min-width: 20em;
}

.notification-content:hover {
  color: #e91e63;
  cursor: pointer;
}

.notification-text {
  margin-right: 1em;
  white-space: pre-wrap;
  word-break: break-word;
}

.hide-button {
  float: right;
}

.circle {
  height: 8px;
  width: 8px;
  border-radius: 4px;
  background-color: #0095f6;
}
