.mat-form-field {
  padding: 1em;
}

.mat-form-field.is-phone-portrait {
  width: 14.5em;
}

.user-item {
  margin-bottom: 3em;
}

.user-card {
  min-width: 20em;
  display: flex;
}

.follow-button {
  margin-left: auto;
}
