
<div class="user-container">
  <form class="mat-form-field" (keydown.enter)="$event.preventDefault()">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input type="text"
             placeholder="type a username..."
             aria-label="Username"
             matInput
             [formControl]="searchFormControl"
             class="username-input"
      >
    </mat-form-field>
    <button id="search-button"
            mat-raised-button
            type="button"
            (click)="search(searchFormControl.value)"
    >Search
    </button>
  </form>
  <div>
    <mat-list>
      <mat-list-item class="user-item" *ngFor="let user of users">
        <mat-card class="user-card">
          <div>
            <div>{{user.username}}</div>
            <small>{{user.firstName}} {{user.lastName}}</small>
          </div>
          <ng-container [ngTemplateOutlet]="checkFollow(user.username) ? unfollow : follow"
                        [ngTemplateOutletContext]="{user: user}">
          </ng-container>
        </mat-card>
      </mat-list-item>
    </mat-list>
  </div>

</div>

<ng-template #unfollow let-user='user'>
  <button mat-raised-button
          (click)="removeFollow(user.username)"
          class="follow-button">
    {{followButtonText(user.username)}}
  </button>
</ng-template>

<ng-template #follow let-user='user'>
  <button mat-raised-button
          (click)="addFollow(user.username)"
          class="follow-button">
    {{followButtonText(user.username)}}
  </button>
</ng-template>
