.profile-card {
  display: flex;
  margin: 1em;
  width: fit-content;
}

.profile-info {
  margin-left: 1em;
  display: grid;
  align-content: center;
}

.profile-image {
  border-radius: 50%;
  max-height: 150px;
  max-width: 150px;
  min-width: 150px;
  min-height: 150px;
  cursor: pointer;
  border: 1px solid white;
}

.dialog-button {
  width: 100% !important;
  min-width: 100% !important;
}
