
<mat-card class="profile-card" *ngIf="activeUser">
  <div *ngIf="this.activeUser.profilePictureId !== ''; else placeholder">
    <img *ngIf="this.loggedInUser === this.pickedUser; else foreignProfile" src="{{this.source}}"
         alt="{{this.activeUser.username}}-profile-picture"
         class="profile-image" (click)="openDialog()">
  </div>
  <div class="profile-info">
    <mat-card-title>{{this.activeUser.username}}</mat-card-title>
    <mat-card-subtitle>{{this.activeUser.firstName}} {{this.activeUser.lastName}}</mat-card-subtitle>
    <div>
      <span style="font-weight: bold">{{this.activeUser.followers.length}}</span>
      Follower
      <span style="margin-left: 1em; font-weight: bold">{{this.activeUser.follows.length}}</span>
      Subscribed
    </div>
  </div>
</mat-card>

<ng-template #foreignProfile>
  <img src="{{this.source}}"
       alt="{{this.activeUser.username}}-profile-picture"
       class="foreign-profile">
</ng-template>

<ng-template #placeholder>
  <div class="profile-image" *ngIf="this.loggedInUser === this.pickedUser; else foreignPlaceholder">
    <span class="material-icons" (click)="openDialog()">
    account_circle
  </span>
  </div>
</ng-template>

<ng-template #foreignPlaceholder>
  <div class="foreign-profile" >
    <span class="material-icons">
    account_circle
  </span>
  </div>
</ng-template>
