.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  margin-bottom: 10px;
}

.post-header {
  margin-bottom: 1em;
}

.user-image {
  border-radius: 50%;
  max-height: 40px;
  max-width: 40px;
  min-width: 40px;
  min-height: 40px;
  border: 1px solid white;
}

.username {
  color: inherit;
  text-decoration: none;
}

.post-utils {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
