<mat-card-header class="post-header">
  <div mat-card-avatar *ngIf="this.source !== ''; else placeholder">
    <img src="{{this.source}}"
         alt="{{this.post.username}}-profile-picture"
         class="user-image">
  </div>
  <mat-card-title>
    <a class="username" routerLink="/profile" [queryParams]="{username: post.username}">{{post.username}}</a>
  </mat-card-title>
</mat-card-header>

<ng-container [ngTemplateOutlet]="post.data.content !== undefined ? media_tp : loading_tp"></ng-container>

<mat-card-content>
  <p *ngIf="post.likedBy.length !== 0">
    <a (click)="openLikedByDialog(post.likedBy)">{{post.likedBy.length > 1 ? post.likedBy.length + ' likes' : '1 like'}}</a>
  </p>
  <div *ngIf="!post.editMode && post.description !== ''">{{post.description}}</div>
  <div *ngIf="post.editMode">
    <mat-form-field appearance="fill">
      <mat-label>New Description</mat-label>
      <input matInput placeholder="new description" [(ngModel)]="post.description">
    </mat-form-field>
  </div>
</mat-card-content>

<mat-card-actions>
  <ng-container [ngTemplateOutlet]="post.editMode ? edit_buttons_tp : normal_buttons_tp" [ngTemplateOutletContext]="{post:post}"></ng-container>
</mat-card-actions>

<ng-template #normal_buttons_tp>
  <button mat-button (click)="triggerEvent('like')">
    <mat-icon>favorite</mat-icon>
    Like
  </button>
  <button mat-button (click)="openPostDialog(post)">
    <mat-icon>add_comment</mat-icon>
    Comment
  </button>
  <button mat-button *ngIf="post.username === this.username" (click)="post.editMode = true">
    <mat-icon>edit</mat-icon>
    Edit
  </button>
</ng-template>

<ng-template #edit_buttons_tp>
  <button mat-button (click)="triggerEvent('edit')">Save</button>
  <button mat-button (click)="post.editMode = false">Cancel</button>
  <button mat-button color="warn" (click)="triggerEvent('remove')">Delete</button>
</ng-template>

<ng-template #loading_tp>
  <mat-spinner style="margin:0 auto;"></mat-spinner>
</ng-template>

<ng-template #media_tp>
  <ng-container [ngTemplateOutlet]="post.data.contentType.startsWith('image') ? image_tp : video_tp" [ngTemplateOutletContext]="{post:post}"></ng-container>
</ng-template>

<ng-template #image_tp>
  <img mat-card-image src="{{post.data.content}}" alt="{{post.description}}">
</ng-template>

<ng-template #video_tp>
  <video mat-card-image controls>
    <source src="{{post.data.content}}">
  </video>
</ng-template>

<ng-template #placeholder>
  <div class="user-image">
    <span class="material-icons" style="font-size: 40px;">
    account_circle
  </span>
  </div>
</ng-template>
