<div class="profile-container">

  <app-federated-component
    remoteEntry="http://localhost:5005/remoteEntry.js"
    remoteName="profileViewer"
    exposedModule="ProfileViewerModule"
    componentName="ProfileViewerComponent"
    class="profile-viewer-container"
  ></app-federated-component>

  <app-federated-component
    remoteEntry="http://localhost:5002/remoteEntry.js"
    remoteName="post" exposedModule="PostModule"
    componentName="PostComponent"
    class="post-container"
  ></app-federated-component>

</div>
