<div class="profile-container">

  <app-federated-component
    [remoteEntry]="this.profileMFE"
    remoteName="profileViewer"
    exposedModule="ProfileViewerModule"
    componentName="ProfileViewerComponent"
    class="profile-viewer-container"
    (errorHandle)="handleError($event)"
  ></app-federated-component>

  <app-federated-component
    [remoteEntry]="this.postMFE"
    remoteName="post" exposedModule="PostModule"
    componentName="PostComponent"
    class="post-container"
    (errorHandle)="handleError($event)"
  ></app-federated-component>

</div>
