<h3>Chat with {{user2}}</h3>
<div class="chat">
  <div class="chat-view" *ngIf="messages.length > 0">
    <div *ngFor="let message of messages">
      {{message.msg}}
      <small>{{getDate(message)}}</small>
    </div>
  </div>
  <div class="chat-input" style="bottom: 0">
    <input
      type="text"
      class="form-control"
      id="message-input"
      name="message"
      placeholder="Message ..."
      [(ngModel)]="message"
    />
    <button class="send-button" (click)="sendMessage()" name="message-input" ngDefaultControl [(ngModel)]="message">Send</button>
  </div>
</div>

