
<div *ngIf="isPhonePortrait">
  <div class="phone-layout-chat-header">
    <button mat-icon-button class="backButton" (click)="goBack()" [ngClass]="{'is-phone-portrait': isPhonePortrait}">
      <mat-icon style="font-size: 32px">arrow_back_ios</mat-icon>
    </button>
    <div class="chatroom-title" [ngClass]="{'is-phone-portrait': isPhonePortrait}">Chatroom: {{this.room.name}}</div>
  </div>
</div>

<div class="chat-container" *ngIf="this.room">
  <ng-container *ngIf="!isPhonePortrait">
    <button mat-icon-button class="backButton" (click)="goBack()">
      <mat-icon style="font-size: 40px">arrow_back_ios</mat-icon>
    </button>
    <div class="chatroom-title">Chatroom: {{this.room.name}}</div>
  </ng-container>
  <mat-icon *ngIf="!isDirect() && this.room.member && !isPhonePortrait" class="groupIcon"
            matTooltip="{{this.getRoomMembers()}}" [ngClass]="{'is-phone-portrait': isPhonePortrait}">groups</mat-icon>
  <div class="chat">
    <div *ngFor="let message of messages" class="message-container">
      <ng-container [ngTemplateOutlet]="message.createdBy === this.username ? userMessage : friendMessage"
                    [ngTemplateOutletContext]="{message: message}">
      </ng-container>
    </div>
  </div>

  <div class="chat-input">
    <mat-form-field class="message-form-field" appearance="fill">
      <mat-label>Enter your message</mat-label>
      <input matInput type="text" [(ngModel)]="message"
             class="form-control" id="message-input"
             name="message" placeholder="Message ..."
             (keyup.enter)="sendMessage()">
      <button *ngIf="message" matSuffix mat-icon-button aria-label="Clear"
              (click)="sendMessage()" name="message-input" class="send-button">
        <mat-icon>send</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>

<ng-template #userMessage let-message='message' class="message-card">
  <mat-card class="user-message-card">
    {{message.msg}}
    <small>{{message.createdBy}}, {{transformTime(message.createdAt)}}</small>
  </mat-card>
</ng-template>

<ng-template #friendMessage let-message='message'>
  <mat-card class="friend-message-card">
    {{message.msg}}
    <small>{{message.createdBy}}, {{transformTime(message.createdAt)}}</small>
  </mat-card>
</ng-template>
