<div class="chat-container" *ngIf="this.api.selectedRoom">
  <div class="chatroom-title">Chatroom: {{this.api.selectedRoom.name}}</div>
  <div class="chat">
    <div *ngFor="let message of messages" class="message-container">
      <ng-container [ngTemplateOutlet]="message.createdBy === this.username ? userMessage : friendMessage"
                    [ngTemplateOutletContext]="{message: message}">
      </ng-container>
    </div>
  </div>

  <div class="chat-input">
    <mat-form-field class="message-form-field" appearance="fill">
      <mat-label>Enter your message</mat-label>
      <input matInput type="text" [(ngModel)]="message"
             class="form-control" id="message-input"
             name="message" placeholder="Message ..."
             (keyup.enter)="sendMessage()">
      <button *ngIf="message" matSuffix mat-icon-button aria-label="Clear"
              (click)="sendMessage()" name="message-input" class="send-button">
        <mat-icon>send</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>

<ng-template #userMessage let-message='message' class="message-card">
  <mat-card class="user-message-card">
    {{message.msg}}
    <small>{{message.createdBy}}, {{message.createdAt}}</small>
  </mat-card>
</ng-template>

<ng-template #friendMessage let-message='message'>
  <mat-card class="friend-message-card">
    {{message.msg}}
    <small>{{message.createdBy}}, {{message.createdAt}}</small>
  </mat-card>
</ng-template>
