mat-form-field {
  margin-right: 12px;
}

.divider {
  margin-bottom: 5px;
  margin-top: 5px;
}

.header {
  margin-bottom: 10px;
}

.location_host {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.time {
  display: flex;
  align-items: center;
}
