<div>
  <mat-toolbar class="event-toolbar">
    <span>Upcoming events</span>
    <span class="spacer"></span>
    <button mat-icon-button>
      <mat-icon>filter_list</mat-icon>
    </button>
    <button mat-icon-button (click)="openDialog(null, false)">
      <mat-icon>add_circle</mat-icon>
    </button>
  </mat-toolbar>
</div>

<div *ngFor="let e of events">
  <mat-divider *ngIf="events.indexOf(e) > 0" class="divider"></mat-divider>
  <mat-card class="event-card">
    <mat-card-header class="event-header">
      {{e.startDate | date:'fullDate'}} - {{e.endDate | date:'fullDate'}}
    </mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{e.title}}</mat-card-title>
      <mat-card-subtitle *ngIf="e.startTime && e.endTime" class="event-time">
        <mat-icon>schedule</mat-icon>
        {{e.startTime}} - {{e.endTime}}
      </mat-card-subtitle>
      <mat-card-subtitle (click)="gotToMaps(e.location)" class="event-location-host">
        <mat-icon>place</mat-icon>
        {{e.location}}
      </mat-card-subtitle>
      <mat-card-subtitle routerLink="/profile" [queryParams]="{username: e.host}" class="event-location-host">
        <mat-icon>self_improvement</mat-icon>
        {{e.host}}
      </mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content>
      {{e.description}}
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Subscribe/ Unsubscribe; Attend/ Leave</button>
      <button mat-button *ngIf="e.host === username" (click)="openDialog(e, true)">Edit</button>
    </mat-card-actions>
  </mat-card>
</div>
