.divider {
  margin-bottom: 5px;
  margin-top: 5px;
}

.event-header {
  margin-bottom: 10px;
  display: block;
}

.event-location-host {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.event-time {
  display: flex;
  align-items: center;
}

.event-toolbar {
  background: #42424200;
}

.spacer {
  flex: 1 1 auto;
}
