
:host ::ng-deep .mat-list-item-content {
  align-items: flex-start !important;
}

.comment-list {
  flex-grow: 1;
  overflow: auto;
  max-height: 14em;
  //margin-bottom: 50px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.comment-list::-webkit-scrollbar {
  display: none;
}

.comment-item {
  height: auto !important;
  margin-bottom: 1em
;
}

.comment-item.mat-list-item-content {
  align-items: flex-start;
}

.avatar {
  margin-right: .5em;
}

.user-image {
  border-radius: 50%;
  max-height: 40px;
  max-width: 40px;
  min-height: 40px;
  min-width: 40px;
  border: 1px solid white;
  background-size: cover;
}

.info {
  display: flex;
  max-width: 40em;
  flex-direction: column;
  background: #303030;
  border-radius: 4px;
  box-shadow: 5px 5px 5px #272727;
  padding-left: 1em;
  padding-right: 1em;
}

.info.is-phone-portrait {
  max-width: 21em;
}

.info-header {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.post_comments_container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.post_comments_container.is-phone-portrait {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
}

.media {
  max-width: 500px;
  max-height: 500px;
  margin: 0 16px 0 0;
  border: 1px solid #272727;
  box-shadow: 5px 5px 5px #272727;
  border-radius: 4px;
}

.post {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.media.is-phone-portrait {
  max-width: 18em;
  max-height: 18em;
  margin-bottom: 1em;
}

.comment-input {
  margin-top: auto;
}

.comment-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comment-text {
  white-space: pre-line;
  word-break: break-word;
}
