.comment-list {
  flex-grow: 1;
  overflow: auto;
  max-height: 150px;
  //margin-bottom: 50px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.user-image {
  border-radius: 50%;
  max-height: 40px;
  max-width: 40px;
  min-height: 40px;
  min-width: 40px;
  border: 1px solid white;
  background-size: cover;
}

.info-header {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.post_comments_container {
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
}

.media {
  max-width: 500px;
  max-height: 500px;
  margin: 0 16px 0 0;
}

.return-home {
  margin-top: 10px;
  cursor: pointer;
}
