.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  margin-bottom: 10px;
}

.comment-list::-webkit-scrollbar {
  display: none;
}

.comment-list {
  flex-grow: 1;
  overflow: auto;
  max-height: 250px;
  margin-bottom: 50px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

