<mat-card-header>
  <div mat-card-avatar *ngIf="this.source !== ''; else placeholder">
    <img src="{{this.source}}"
         alt="{{this.post.username}}"
         class="user-image">
  </div>
  <mat-card-title>{{post.username}}</mat-card-title>
  <mat-card-subtitle>{{post.description}}</mat-card-subtitle>
</mat-card-header>

<mat-card-content>
  <mat-list class="comment-list">
    <mat-list-item *ngFor="let comment of post.comments">
      <div mat-list-avatar>
        <div *ngIf="this.nameSourceMap.get(comment.createdBy) !== ''; else placeholder">
          <img src="{{this.nameSourceMap.get(comment.createdBy)}}"
               alt="{{comment.createdBy}}" class="user-image">
        </div>
      </div>
      <div mat-line> {{comment.comment}} </div>
      <div mat-line>{{comment.createdBy}}</div>
    </mat-list-item>
  </mat-list>

  <mat-form-field appearance="fill">
    <mat-label>New Comment</mat-label>
    <input matInput [(ngModel)]="comment">
  </mat-form-field>
</mat-card-content>

<mat-card-actions>
  <button mat-button (click)="addComment()">
    <mat-icon>add_comment</mat-icon>
    Post
  </button>
  <button mat-button (click)="post.commentMode = false">
    <mat-icon>arrow_back</mat-icon>
    Back
  </button>
</mat-card-actions>

<ng-template #placeholder>
  <div class="user-image">
    <span class="material-icons" style="font-size: 40px">
    account_circle
  </span>
  </div>
</ng-template>
