.event-header {
  margin-bottom: 10px;
  display: block;
}

.event-location-host {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.event-time {
  display: flex;
  align-items: center;
}

.event-card {
  margin-top: 10px;
}

.return-event {
  margin-top: 10px;
  cursor: pointer;
}
