<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="title" routerLink="/home" *ngIf="!isPhonePortrait">Welcome back, {{username}}</span>
  <span class="spacer"></span>
  <ng-container *ngIf="userMfeOnline; else userMfePlaceholder">
    <app-federated-component [remoteEntry]="this.userMFE" remoteName="user" exposedModule="UserModule" componentName="UserComponent" (errorHandle)="handleError($event)"></app-federated-component>
  </ng-container>
  <ng-container *ngIf="postMfeOnline; else createPostMfePlaceholder">
    <app-federated-component [remoteEntry]="this.postMFE" remoteName="post" exposedModule="CreatePostModule" componentName="DialogCreatePostComponent" (errorHandle)="handleError($event)"></app-federated-component>
  </ng-container>
  <ng-container *ngIf="notificationMfeOnline; else notificationMfePlaceholder">
    <app-federated-component [remoteEntry]="this.notifsMFE" remoteName="notification" exposedModule="NotificationModule" componentName="NotificationComponent" (errorHandle)="handleError($event)"></app-federated-component>
  </ng-container>
</mat-toolbar>

<mat-drawer-container class="mat-drawer-container">
  <mat-drawer #sidenav class="mat-drawer">
    <mat-nav-list>
      <a mat-list-item routerLink="/home" (click)="sidenav.toggle()">Home</a>
      <a mat-list-item routerLink="/profile" [queryParams]="{username: username}" (click)="sidenav.toggle()">Profile</a>
      <a mat-list-item routerLink="/chat" (click)="sidenav.toggle()">Chat</a>
      <a mat-list-item routerLink="/event" (click)="sidenav.toggle()">Event</a>
      <a mat-list-item [disabled]="!isLoggedIn" (click)="logout();sidenav.toggle()">Logout</a>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content class="mat-drawer-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

<ng-template #userMfePlaceholder>
  <button mat-icon-button (click)="placeholderHandler('user-search')">
    <mat-icon>search</mat-icon>
  </button>
</ng-template>

<ng-template #notificationMfePlaceholder>
  <button mat-icon-button (click)="placeholderHandler('notification')">
    <mat-icon>notifications</mat-icon>
  </button>
</ng-template>

<ng-template #createPostMfePlaceholder>
  <button mat-icon-button (click)="placeholderHandler('create-post')">
    <mat-icon>add</mat-icon>
  </button>
</ng-template>
