<mat-toolbar>
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="title" routerLink="/home">Welcome back, {{username}}</span>
  <span class="spacer"></span>
  <button mat-icon-button (click)="openSearch()" *ngIf="!searchMode; else searchInput">
    <mat-icon>search</mat-icon>
  </button>
  <app-federated-component remoteEntry="http://localhost:5002/remoteEntry.js" remoteName="post" exposedModule="CreatePostModule" componentName="DialogCreatePostComponent"></app-federated-component>
  <button mat-icon-button routerLink="/chat">
    <mat-icon>message</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="mat-drawer-container">
  <mat-drawer #sidenav class="mat-drawer">
    <mat-nav-list>
      <a mat-list-item routerLink="/home" (click)="sidenav.toggle()">Home</a>
      <a mat-list-item routerLink="/profile" [queryParams]="{username: username}" (click)="sidenav.toggle()">Profile</a>
      <a mat-list-item routerLink="/chat" (click)="sidenav.toggle()">Chat</a>
      <a mat-list-item (click)="sidenav.toggle()">Settings</a>
      <a mat-list-item [disabled]="!isLoggedIn" (click)="logout();sidenav.toggle()">Logout</a>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content class="mat-drawer-content">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

<ng-template #searchInput>
  <form>
    <mat-form-field appearance="fill" style="font-size: 12px; height: 2.3em">
      <mat-label>Search</mat-label>
      <input type="text"
             placeholder="Username"
             matInput
             [formControl]="searchFormControl"
             [matAutocomplete]="auto">
      <button matSuffix mat-icon-button aria-label="Clear" (click)="closeSearch()" type="reset">
        <mat-icon>close</mat-icon>
      </button>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (click)="redirect(option)">
          {{option}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</ng-template>
