.spacer {
  flex: 1 1 auto;
}
.title {
  cursor: pointer;
}

.mat-drawer-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.mat-drawer {
  padding: 20px;
  height: 100%;
}

.mat-drawer-container,
.mat-drawer-content {
  height: calc(100% - 32px);
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: hidden;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
