<h1>Angular MFE Host</h1>
<a mat-raised-button routerLink='/'>Main</a> &#160;
<a mat-raised-button routerLink='/chat'>Link to Chat</a> &#160;
<a mat-raised-button routerLink='/post'>Link to Post</a> &#160;
<a mat-raised-button routerLink='post/create_post'>Create Post</a> &#160;
<a mat-raised-button routerLink='/user'>Link to User</a> &#160;
<a mat-raised-button routerLink='/profile-viewer'>Link to Profile-Viewer</a> &#160;
<button mat-raised-button [disabled]="!isLoggedIn" (click)="logout()">Logout</button>

<router-outlet></router-outlet>
