.spacer {
  flex: 1 1 auto;
}

.title {
  cursor: pointer;
}

.mat-drawer-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.mat-drawer {
  padding: 20px;
  height: 100%;
}

.mat-drawer-container {
  height: 100%;
}
