
.dialog {
  width: 16em;
}

.dialog-title {
  font: 500 20px/32px;
  font-size: 20px;
  letter-spacing: normal;
  margin-bottom: 1em;
}

.mat-form-field {
  display: contents;
  position: relative;
  text-align: left;
}

.dialog-body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 1em;
}

.name-input {
  margin-bottom: 1em;
}

.person-picker {
  margin-bottom: 1em;
}

.dialog-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
