<div infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="50"
     (scrolled)="onScroll()">
  <div *ngFor="let post of posts | async">
    <mat-card class="post-card">
      <div *ngIf="post.commentMode">
        <app-post-comment [post]="post"></app-post-comment>
      </div>
      <div *ngIf="!post.commentMode">
        <app-post-media [post]="post"></app-post-media>
      </div>
    </mat-card>
  </div>

  <div *ngIf="oldestPostReached; else loading_tp">
    <h3>You are up-to-date!</h3>
  </div>
</div>

<ng-template #loading_tp>
  <mat-spinner></mat-spinner>
</ng-template>

