:host {
  width: 100%;
  overflow-y: auto;
}

.scroller {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.post-card{
  max-width: 26em;
  min-width: 26em;
  margin-bottom: 10px;
  margin-top: 10px;
}

.post-card.is-phone-portrait {
  max-width: 20em;
  min-width: 20em;
}
