<div class="scroller" infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="50"
     (scrolled)="onScroll()"
     [scrollWindow]="false">
  <div *ngFor="let post of posts | async">
    <mat-card class="post-card" [ngClass]="{'is-phone-portrait': isPhonePortrait}">
      <post-media (newEvent)="triggerEvent(post, $event)" [post]="post" [username]="this.username"></post-media>
    </mat-card>
  </div>

  <div *ngIf="oldestPostReached; else loading_tp">
    <h3>You are up-to-date!</h3>
  </div>
</div>

<ng-template #loading_tp>
  <mat-spinner></mat-spinner>
</ng-template>

